#clock {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 25px solid black;
    background-color:#f9d1e4;
  }
  body{
    background-color: #fa68af;
  }